th {
    color: #268744;
    font-weight: 900;
  }
  
  #datatable {
    display: flex;
    height: 30rem;
    width: 100%;
  }
  
  .content-table {
    width: 100%;
  }
  
  .theme-header {
    color: #268744;
    font-weight: 900;
    background-color: #fcfcfc;
  }
  
  .download-area {
    padding: 0.5rem;
    font: 1rem Quicksand;
  }
  
  .download-area a {
    text-decoration: none;  
  }
  
  .download-area button {
    width: 50px;
    height: 30px;
    margin-left: 0.5rem;
    text-decoration: none;
    color: green;
    border: solid 2px;
    border-color: green;
    cursor: pointer;
  }
  
  .download-area button:hover {
    background-color: '#268744',
  }
  
  .download-area .loading-buttons {
    max-width: 40px;
    max-height: 50px;
  }